<section class="app-header">
    <a class="logo" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{exact:true}">
        <img src="./assets/icons/logo.png" alt="" />
    </a>
    <nav>
        <a title="Home Page" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"
            [routerLinkActiveOptions]="{exact:true}">
            <img src="./assets/icons/home.png" alt="" />
        </a>
        <a title="Contacts" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="./assets/icons/users.png" alt="" />
        </a>
        <a title="Statistics" routerLink="/stats" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="./assets/icons/increase.png" alt="" />
        </a>
        <a title="Signup" routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="./assets/icons/contact.png" alt="" />
        </a>
    </nav>
</section>