:host{
    font-size: 0.8em;
    h2{
        padding-block: 10px;
    }
    h3{
        border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
    }
    h4{
        padding-top: 10px;
    }
    img {
        height: 15px;
    }
}