<h1>Explore the world of Bitcoin!</h1>
<h2 class="rate">Current Bitcoin rate: 1 USD = {{ rate }} BTC</h2>
<!-- <img src="../../icons/bg.jpg" alt="" /> -->
<p>
    Bitcoin is a decentralized digital currency that operates on a peer-to-peer network without the need for a central
    authority. It was created in 2009 by an anonymous individual or group of individuals using the pseudonym Satoshi
    Nakamoto. Bitcoin transactions are verified by network nodes through cryptography and recorded on a public ledger
    called a blockchain. The limited supply of Bitcoin, with a maximum of 21 million coins that can be mined, creates
    scarcity and is often cited as a key factor in its value. Despite its initial skepticism, Bitcoin has gained
    increasing adoption as a payment method and investment vehicle, with many businesses accepting it as payment and
    institutional investors investing in it as a hedge against inflation and a store of value.
</p>