.contact-filter {
    margin: 15px auto;
    display: flex;
    justify-content: center;
    
    input {
        border-radius: 5px;
        border: 1px solid lightgray;
        // border: 1px solid #ffa07a;
        padding: 4px 8px;
        
        &:focus-visible {
            transition: all 0.2s;
            outline: none;
            background-color: #ffa07a30;
        }

        &::placeholder {
            color: lightgray;
        }
    }
}