<section *ngIf="contact" class="contact-edit">
    <h2>{{contact._id ? 'Edit' : 'Add'}} contact</h2>
    <form (ngSubmit)="onAddContact()">
        <label for="name">Name</label>
        <input [(ngModel)]="contact.name" type="text" name="name" id="name">

        <label for="age">Email</label>
        <input [(ngModel)]="contact.email" type="email" name="email" id="email">
        
        <label for="age">Phone</label>
        <input [(ngModel)]="contact.phone" type="string" name="phone" id="phone">

        <!-- <label for="birthDate">Birth Date</label>
        <input [ngModel]="contact.birthDate | date:'yyyy-MM-dd'" (ngModelChange)="handleDateField($event)" type="date"
            name="birthDate" id="birthDate"> -->

        <button>Save</button>
    </form>
    <button (click)="onBack()">Back</button>
    <button *ngIf="contact" (click)="onRemoveContact()" class="remove-btn">Delete</button>

</section>



<!-- <section class="contact-edit">
    <fa-icon (click)="onBack()" class="icon back" [icon]="faCircleArrowLeft"></fa-icon>
    <fa-icon (click)="onRemove()" class="icon remove" [icon]="faTrash"></fa-icon>
    <h2 class="title">{{contact?._id ? 'Edit' : 'Add'}} Contact</h2>
    <img *ngIf="contact?._id" src="https://robohash.org/{{contact?._id}}?set=set5" alt="">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="name">Name:
            <input formControlName="name" id="name" placeholder="Name" />
        </label>
        <label for="email">Email:
            <input formControlName="email" id="email" placeholder="Email" />
        </label>
        <label for="phone">Phone:
            <input formControlName="phone" id="phone" placeholder="Phone" />
        </label>

        <button>Save</button>
    </form>
</section> -->