<section class="contact-edit">
    <div class="actions">
        <img class="back" title="Back" (click)="onBack()" src="./assets/icons/back.png" alt="" />
        <img *ngIf="contact" src="./assets/icons/delete.png" (click)="onRemoveContact()" class="remove-btn" />
    </div>
    <img *ngIf="contact" class="user-img" src="https://robohash.org/{{contact._id}}?set=set5" alt="">
    <img *ngIf="!contact" class="user-img" src="./assets/icons/contact.png" alt="">
    <h2>{{contact?._id ? 'Edit' : 'Add'}} contact</h2>
    <form [formGroup]="form" (ngSubmit)="onAddContact()">
        <label>
            Name
            <input formControlName="name" type="text" name="name" id="name" placeholder="Name">
        </label>
        <label>
            Email
            <input formControlName="email" type="email" name="email" id="email" placeholder="Email">
        </label>

        <label>
            Phone
            <input formControlName="phone" type="text" name="phone" id="phone" placeholder="Phone">
        </label>
        <button>Save</button>
    </form>

</section>