<section [routerLink]="['/contact', contact._id]" class="contact-preview">
    <img class="user-img" src="https://robohash.org/{{contact._id}}?set=set5" alt="">
    <p>{{contact.name}}</p>
    <section class="actions">
        <button (click)="onEditContact($event)" class="edit-btn"><img class="edit-icon" src="./assets/icons/edit.png"
                alt="" /></button>
        <button (click)="onRemoveContact($event)" class="remove-btn"><img class="delete-icon"
                src="./assets/icons/delete.png" alt="" /></button>
    </section>
</section>