.contact-preview {
    display: flex;
    justify-content: center;
    padding-block: 3px;
    padding-inline: 5px;
    align-items: center;
    border-radius: 20em;
    font-size: 0.8em;
    background-color: whitesmoke;
    cursor: pointer;

    >*:not(:first-child){
        padding-left: 10px;
    }

    .user-img {
        height: 2.5em;
        border-radius: 50%;
        object-fit: cover;
        background-color: lightgray;
        
    }
    
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100px;
        margin: 0;
    }
    
    .actions {
        display: flex;
        justify-content: end;
        opacity: 0;
        transform: translateX(-10%);
        transition-duration: 0.3s;
        transition-property: transform, opacity;

        .remove-btn,
        .edit-btn {
            display: flex;
            background: none;
            border: none;
            padding: 0;
            transition: 0.15s;
            cursor: pointer;

            .edit-icon {
                width: 15px;
                aspect-ratio: 1/1;
            }

            .delete-icon {
                width: 17px;
                aspect-ratio: 1/1;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &:hover .actions {
        opacity: 1;
        transform: translateX(0);
    }
}