.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    main {
        overflow-y: scroll;
        height: calc(100vh - 50px - 25px);
        padding-inline: 20px;
    }

    footer {
        height: 25px;
        display: flex;
        position: absolute;
        bottom: 0;
        align-items: center;
        justify-content: center;
        border-top: 1px solid whitesmoke;
        font-size: 0.7em;
        width: 100%;
    }
}